body,html {
    margin: auto;
    border: 5px solid rgb(76, 159, 56);
    background-color: rgb(197, 197, 197);
    text-align: justify;
}

header {
    background-color: rgb(76, 159, 56, 0.7);
    color: rgb(197, 197, 197);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 15;
}
#logo {
    width: 10%;
    position: absolute;
    top: 5px;
    margin-left: 5%;
}
#menu {
    float: right;
    width: 520px;
    padding-left: 60px;
    padding-right: 35px;
    top: 5px;
    list-style: none;
}
.lista {
    float: left;
    padding: 1% 2%;
    margin-right: 0;
    color: black;
}
.lista:hover {
    background-color: rgb(197, 197, 197);
    border-radius: 50%;
}
.lista:visited {
    color: rgba(153, 54, 54, 0.384);
}

#primeiro {
    height: 400px;
    text-align: center;
    padding: 10% 25% 8% 22%;
    background-color: rgb(76, 159, 56);
}
#health {
    position: absolute;
    top: 31%;
    right: 75%;
    left: 5%;
}
#wellbeing {
    position: absolute;
    top: 31%;
    right: 5%;
    left: 75%;
}
#botao {
    clear: both;
    text-align: center;
    border: dashed 2px rgb(14, 41, 7);
    background-image: linear-gradient(rgb(76, 159, 56), rgb(186, 212, 180), rgb(76, 159, 56));
    width: 160px;
    padding: 1%;
    margin-left: 35%;
}
#botao:visited {
    color: rgba(153, 54, 54, 0.384);
}
h1 {
    font-size: 410%;
    position: relative;
    text-shadow: 2px 2px 5px rgb(14, 41, 7);
}
h2 {
    position: relative;
    font-size: 250%;
    border-top: 3px solid black;
}

.coluna {
    position: relative;
    padding: 0% 2%;
    width: 45%;
    float: left;
}

#projeto {
    background-color: rgb(197, 197, 197);
}
#sobre {
    text-align: center;
    font-size: 200%;
}
.intro {
    text-align: justify;
    padding: 0% 2%;
    font-size: 110%;
}
#video {
    width: 100%;
    padding-top: 1%;
}

#metas {
    clear: both;
    background-color: rgb(186, 212, 180);
}

#recursos {
    clear: both;
    background-color: rgb(186, 212, 180);
}
.outros {
    padding-left: 5%;
    font-size: 200%;
}
.texto {
    padding: 0% 2% 0% 2%;
    font-size: 110%;
}
ol {
    padding: 0% 4% 0% 6%;
    font-size: 110%;
}
ul {
    padding: 0% 6% 0% 8%;
    font-size: 110%;
}

#acts {
    clear: both;
    background-color: rgb(197, 197, 197);
}
.mapa {
    opacity: 70%;
}
.mapa:hover {
    opacity: 100%;
}
#legenda {
    margin: 69% 55% 0% 0%;
    border: dashed 2px rgb(76, 159, 56);
}

#parceiros {
    clear: both;
    background-color: rgb(197, 197, 197);
}
.contribuintes {
    opacity: 50%;
}
.contribuintes:hover {
    opacity: 100%;
}
.implementares {
    opacity: 50%;
}
.implementares:hover {
    opacity: 100%;
}

#final {
    clear: both;
}
#eu {
    font-size: 200%;
    text-align: center;
}
#apresentacao {
    font-size: 110%;
    padding:  0% 10% 0% 2%;
    text-align: justify;
}
#perfil {
    width: 25.6%;
}
.colunaf {
    background-color: rgb(27, 61, 19);
    color: rgb(197, 197, 197);
    position: relative;
    padding: 0% 2%;
    width: 46%;
    float: right;
}

footer {
    clear: both;
}
h4 {
    padding-left: 5%;
    font-size: 130%;
}
#canva {
    padding-left: 11%;
}
.colunae {
    background-color: rgb(76, 159, 56);
    position: relative;
    padding: 0% 2%;
    width: 46%;
    height: 180px;
    float: left;
}

@media all and (max-width: 768px) {
    header {
        height: 60px;
    }
    #logo {
        width: 15%;
        margin-left: 0;
        position: relative;
        left: 43%;
        right: 35%;
    }
    #menu {
        visibility: hidden;
    }
    #primeiro {
        padding-top: 7%;
        height: 500px;
    }
    .coluna {
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }
    #legenda {
        margin: 0%;
    }
    h4 {
        margin-top: 1%;
    }
    #eu {
        text-align: justify;
    }
    #apresentacao {
        padding: 0% 2%;
    }
    #perfil {
        width: 59%;
    }
    #canva {
        padding-left: 23%;
    }
}